.Balanco{
    /* background-color: rgb(164, 181, 181); */
    margin-top: 10px;
    margin-left: 10px;
    width: 80%;
    height: 890px;
}
.botao{
    background-color: #10102b;
    color: #fff;
    margin: 20px;
    padding: 6px 15px;
    font-size: 17px;
    font-weight: 500;
    width: auto;
    border-radius: 10px;
    cursor: pointer;
}